
<!doctype html>
<html lang="kr">
<head>
  <meta charset="UTF-8">
  <title>검색하기!</title>
<h1>원하는 내용을 검색하세요</h1>
<input id="searchBar" type="text" size=20> 
<button id="searchButton" type="button" size=10>검색</button>
<button id="moreButton" type="button" size=10>더보기</button>


</head>
<link rel="stylesheet" href="search.css">
<body id="body">


<div id ='wrap'></div>



<script type="text/template" id="listTemplate">

<ul>
  <% for(var i=0; i<list.length; i++) { %>
		<li>	
			<p><a href = " <%= list[i].link %>"><%= list[i].title %></a>      <%= list[i].pubDate %></p>
		</li>
		
  <%} %>
</ul>

</script>



<script src="util.js"></script>
<script src="search.js"></script>
</body>
</html>