#board
{
	width: 600px;
	padding: 10px;
}


#board .card
{
	width: 100px;
	height: 100px;
	background-color: green;
	float: left;
	margin: 5px;
}

#board .card.open
{
	
	background-color: yellow;

}

#board .card.success
{
	
	background-color: white;

}